<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>16/12/18 22:16:31</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AppTest.afterTest()[pri:0, instance:DemoGroup.MavenTest.AppTest@14acaea5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413653265</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>16/12/18 22:16:10</td>   <td>-20996</td> <td>&nbsp;</td><td title="&gt;&gt;AppTest.beforeTest()[pri:0, instance:DemoGroup.MavenTest.AppTest@14acaea5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1413653265</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>16/12/18 22:16:16</td>   <td>-15190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testEasy()[pri:0, instance:DemoGroup.MavenTest.AppTest@14acaea5]">testEasy</td> 
  <td>main@1413653265</td>   <td></td> </tr>
</table>
