<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>RegTest</td><td>AppTest.testEasy()[pri:0, instance:DemoGroup.MavenTest.AppTest@224edc67]<br/></td></tr>
<tr><td>SmokeTest</td><td>AppTest.testEasy()[pri:0, instance:DemoGroup.MavenTest.AppTest@224edc67]<br/></td></tr>
</table>
