<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a48474">  <td>16/12/18 22:59:29</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AppTest.afterTest()[pri:0, instance:DemoGroup.MavenTest.AppTest@224edc67]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>16/12/18 22:58:31</td>   <td>-57755</td> <td>&nbsp;</td><td title="&gt;&gt;AppTest.beforeTest()[pri:0, instance:DemoGroup.MavenTest.AppTest@224edc67]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>16/12/18 22:58:35</td>   <td>-54448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testEasy()[pri:0, instance:DemoGroup.MavenTest.AppTest@224edc67]">testEasy</td> 
  <td>main@87765719</td>   <td></td> </tr>
</table>
